  <div class="row">
      <% @photos.each do |photo| %>
        <div class="col-md-4">
          <div class="card portfolio-card">
            <%= link_to (image_tag photo.image_url, width: "100%"), photo, class: "card-img-top portfolio-img" %>
            <div class="card-body">
              <p class="card-text"><%= photo.caption %></p>
            </div>
            <% if admin_signed_in? %>
              <%= link_to 'Edit', edit_photo_path(photo) %>
              <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

<% if admin_signed_in? %>
  <%= link_to 'New Photo', new_photo_path %>
<% end %>

  
