<%= image_tag @photo.image_url %>
<%= @photo.caption %>
<% if @photo.fb_url %>
  <%= link_to 'like it on facebook!', @photo.fb_url, target: '_blank'%>
<% end %>

<% if @photo.insta_url %>
  <%= link_to 'like it on Instagram!', @photo.insta_url, target: '_blank'%>
<% end %>

<div class="admin">
  <% if admin_signed_in? %>
    <button>
      <%= link_to 'Edit', edit_photo_path(@photo) %>
    </button>
  <% end %>
  
  <button>
    <%= link_to 'Back', photos_path %>
  </button>
</div>

