<!DOCTYPE html>
<html>
  <head>
    <title>DmoakPhoto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <h1>⚠️You're in admin mode⚠️</h1>
    <% end %>
    <%= render 'shared/nav'%>
    <%= yield %>
  </body>
</html>
